<!-- <div class="row">
<div class="col-1">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-button color="accent">Lista de usuarios</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button color="accent">Buscar usuario</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button color="accent">Editar usuario</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button color="accent">Nuevo usuario</button>
        </mat-toolbar-row>
      </mat-toolbar>
</div>
<div class="col-6">
    
</div>
</div> -->

<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item [routerLink]="'list'" routerLinkActive="'active" >Lista de usuarios</a>
        <a mat-list-item [routerLink]="'buscar'" routerLinkActive="'active'">Buscar usuario</a>
        <a mat-list-item [routerLink]="'agregar'" routerLinkActive="'active'">Nuevo usuario</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        @if (isHandset$ | async) {
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
          </button>
        }
        <span style="flex: 1 1 auto;"></span>
        
        @if(sesion){
          <span>Bienvenido: {{sesion.userName}}</span>
          <button mat-button class="justify-content-end" (click)="logOut()">Logout</button>
        } @else {
          <button mat-button class="justify-content-end" [routerLink]="['/auth']">LogIn</button>
        }
        
      </mat-toolbar>
      <!-- Add Content Here -->
      <div class="container mt-3">
        <router-outlet></router-outlet>
      </div>
      
    </mat-sidenav-content>
  </mat-sidenav-container>


